div#counter {
    position: fixed;
    display: none;
    right: 100px;
    top: 10px;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 40px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    min-width: 30%;
}